  * {
      font-family: "Rubik", sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      font-family: "Rubik", sans-serif;
      background-color: #f5f5f5;
    
  }

  .container {
      width: 100%;
      max-width: 120rem;
      margin: 25px auto;
      padding: 0 3rem;
  }

  .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
  }

  .nav-bar img {
      max-width: 120px;
      height: auto;
  }

  .nav-bar a {
      text-decoration: none;
      color: black;
  }

  .menu-list {
      display: flex;
      align-items: center;
  }

  .menu-list ul {
      display: flex;
      list-style: none;
      gap: 30px;
  }

  .menu-list ul a {
      font-size: 18px;
      font-weight: 400;
      /* Fix border jump */
  }

  .menu-list ul a.carty {
      border-radius: 20px;
  }

  /* NAV */
  .menu-list ul a:hover,
  .menu-list ul a.active {
      box-shadow: 0 0 0 7px #aec2cc;
      background-color: #f5f5f5;
  }

  .menu-list ul li i {
      color: red;
  }

  .hamburger {
      display: none;
      background: #f5f5f5;
      margin-left: 16rem;
      font-size: 15px;
      position: relative;
      cursor: pointer;
      color: #282828;
      transition: all 0.3s;
  }

  .hamburger:hover {
      box-shadow: 0 0 0 7px #aec2cc;
  }

  @media (max-width: 768px) {
      .container {
          padding: 0 1.1rem;
          /* reduce padding for small screens */
      }

      /* note that menu-list ul on media is working when we minimize the screen on hamburger part */
      .menu-list ul {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          background-color: #f5f5f5;
          width: 100%;
          padding: 10px 0;
      }

      /* This ends here */

      /* This flex makes hamburger to display as flex when clicked on */
      .menu-list ul.active {
          display: flex;
      }

      /* This makes hamburger to show when minimizing */
      .hamburger {
          display: block;
      }
  }

  .menu-list ul li {
      margin-bottom: 10px;
  }

  

  /* Wrapper section */

  .section-wrapper {
      background-color: #f5f5f5;
      padding: 1.6rem 0 5rem 0;
  }

  .wrapper {
      max-width: 120rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* The container is 120rem, should not be more than that */
      margin: 0 auto;
      padding: 0 3rem;
      align-items: center;
      gap: 9rem;
      /* the gap is for spaces between images and text */
  }

  .wrapper-content {
      display: block;
  }

  .wrapper-heading {
      display: block;
      font-size: 3rem;
      line-height: 1.05;
      color: #282828;
      letter-spacing: -0.5px;
      font-weight: bold;

      margin-top: 0;
      margin-bottom: 2.5rem;
  }

  .wrapper-heading span {
      display: block;
  }

  .wrapper-paragraph {
      font-size: 21px;
      line-height: 1.6;
      margin-bottom: 2.5rem;
  }

  .btn-group {
      display: flex;
      gap: 1rem;
      margin-bottom: 4rem;
  }

  .btn {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.1rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.3s;
      /* <a> to make <a> looks like a button  */
  }

  .btn-carty {
      background: #2b6482;
      color: #fff;
      padding: 10px 40px;
      font-weight: 600;
      border-radius: 8px;
  }

  .btn-carty:hover,
  .btn-carty.active {
      box-shadow: 0 0 0 7px #aec2cc;
      /* border: 7px solid #AEC2CC; */
      border-radius: 8px;
      background-color: #2b6482;
      color: #fff;
  }

  .btn-love {
      background: #c7c7cd;
      color: #222;
      padding: 1rem;
      border-radius: 50%;
  }

  /* Hover state (box shadow) */
  .btn-love:hover {
      background-color: #2b6482;
      box-shadow: 0 0 0 3px #fff;
      /* White ring */
      color: #fff;
  }

  /* Active state (clicked) */
  .btn-love.active {
      background-color: #2b6482;
      box-shadow: 0 0 0 7px #aec2cc;
      /* Add a border instead */
      border-radius: 50%;
      color: #fff;
  }

  .products-delivered {
      display: flex;
      align-items: center;
      gap: 1.8rem;
  }

  .delivered-images {
      display: flex;
  }

  .delivered-images img {
      height: 3rem;
      border-radius: 50%;
      margin-right: -1rem;
      /* margin right is to overlap the picture */
      border: 3px solid #c7c7cd;
  }

  .delivered-text {
      font-size: 18px;
      font-weight: 600;
      white-space: nowrap;
  }

  .delivered-text span {
      color: #2b6482;
      font-weight: 700;
  }

  .wrapper-laptopimage {
      justify-self: center;
      /* Centers the laptop image in its grid column */
  }

  .wrapper-laptopimage img {
      width: 100%;
      /* Reduce size to fit nicely */
      height: auto;
      /* Maintain the aspect ratio */
      display: block;
      /* Remove extra spaces (for inline images) */
  }

  /* This is for section-wrapper media query */
  @media (max-width: 768px) {
      .section-wrapper {
          align-items: center;
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          margin: 0;
      }

      /* collapse the 2-column grid into 1, so the laptop is no longer into 2 grid.its now 1*/
      /* There was also unneccessary padding. i put padding o to reduce it */
      .wrapper {
          grid-template-columns: 1fr;
          gap: 3rem;
          padding: 0;
          text-align: center;
      }

      .wrapper-content {
          width: 100%;
          justify-self: center;
      }

      /* in this case the margin bottom was much, i had to use 1.6 rem to reduce it */
      .wrapper-heading {
          font-size: 2rem;
          text-align: center;
          white-space: nowrap;
          margin-bottom: 1.7rem;
      }

      /* This is for the  <span>Mall</span> to join it back to same line */
      .wrapper-heading span {
          display: inline;
      }

      .wrapper-paragraph {
          font-size: 1rem;
          letter-spacing: 1px;
          line-height: 1.6;
          margin: 0 auto 2.5rem auto;
          max-width: 50ch;
          text-align: center;
      }

      /* buttons wrapper */
      .btn-group {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 2rem;
      }

      .btn-carty {
          padding: 18px 20px;
          font-size: 1rem;
      }

      .btn-love {
          width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
      }

      .products-delivered {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.8rem;
      }

      .delivered-images img {
          margin-right: -0.8rem;
          width: 2.3rem;
          height: 2.5rem;
      }

      .delivered-text {
          font-size: 0.90rem;

      }

      /* laptop image centered & not too wide */
      .wrapper-laptopimage {
          justify-self: center;
      }

      .wrapper-laptopimage img {
          width: 75%;
          margin: 0 auto;
      }
  }

  .section-product {
      background-color: white;
      padding: 25px 0;
  }

  .product-content {
      width: 100%;
      max-width: 120rem;
      margin: 5rem 0;

  }



  .first-heading {
      display: block;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #2B6682;
      font-weight: bold;
      text-align: center;
      line-height: 1.05;
  }

  .second-heading {
      display: block;
      margin: 20px auto;
      font-size: 2.8rem;
      color: #282828;
      font-weight: bold;
      text-align: center;
      line-height: 1.05;
  }

  .product-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      margin: 50px 0 5px 0;
      padding-left: 7rem;
      padding-right: 2rem;
  }

  .productcard-img {
      width: 100%;
      object-fit: contain;
      height: 200px;
  }

  .product-card {
      display: flex;
      flex-direction: column;
      background-color: white;
      /* align-items: stretch; */
      width: 100%;
      max-width: 14rem;
      margin: 5rem 0 5px 0;
      border-radius: 10px;
      box-shadow: 0px 20px 30px rgba(57, 48, 90, 0.1);
      transition: all 150ms ease-in-out;
  }

  .product-card:hover {
      cursor: pointer;
      transform: translateY(-11px);
      /* moves it up slightly */
  }

  .grid-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: normal;
      font-size: 20px;
      line-height: 1.2;
      color: #282844;
      font-weight: 600;

      height: 3.5em;
  }

  .grid-p {
      font-size: 20px;
      color: #282844;
      height: 3.5em;
      line-height: 1.2;
      font-weight: 600;
      text-align: center;
      margin: 0 auto;
  }

  .grid-s {
      font-weight: 500;
      color: #282844;
      text-align: center;
      margin: -30px 0;
  }

  .pcard-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem 0;
  }

  .product-btn {
      background-color: #c7c7cd;
      padding: 0.7rem;
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
  }

  .product-btn i {
      font-size: 12px;
      color: #222;
  }

  .product-btn:hover {
      background-color: #2B6486;
      box-shadow: 0 0 0 3px #fff;
  }

  .product-btn i:hover {
      color: white;
  }

  .product-btn.active {
      background-color: #2b6482;
      box-shadow: 0 0 0 7px #aec2cc;
      /* Add a border instead */
  }

  .arrow-b {
      display: flex;
      margin: 3rem 0;
      align-items: center;
      justify-content: center;
  }

  .arrow-button {
      font-size: 18px;
      line-height: 1.05;
      text-underline-offset: 4px;
      border: none;
      color: #2B6486
  }

  .arrow-button:hover,
  .arrow-button.active {
      background-color: #fff;
      color: #2b6482;
      opacity: 1;

  }

  /* product styling ends here for its section */

  .section-testimony {
      background-color: #f5f5f5;
      padding: 4.5rem 2rem 1rem 7rem;
  }

  .testimony-content {
      width: 100%;
      max-width: 120rem;

  }

  .testimony-fheading {
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #2B6682;
      margin: 20px 0;
      line-height: 1.05;
      font-weight: 600;
  }

  .testimony-sh {
      color: #282828;
      font-size: 2.3rem;
      font-weight: 900;
      line-height: 1.05;
      margin-bottom: 3rem;

  }

  .testimony-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      margin: 6rem 0 4rem 0;
  }

  .testimony-card {
      background-color: #C7C7CD;
      width: 100%;
      max-width: 14rem;
      align-items: stretch;
      border-radius: 8px;
  }

  .testimony-card img {
      height: 4rem;
      margin: 1rem;
      border-radius: 50%
  }

  .testimony-p {
      font-size: 1.1rem;
      line-height: 2;
      color: #282828;
      font-weight: 400;
      padding-left: 1rem;
      padding-right: 1rem;

  }

  /* testimony section ends here */

  .section-pricing {

      background-color: white;
      padding-top: 4.5rem;
      padding-bottom: 5rem;



  }

  .pricing-content {
      width: 100%;
      max-width: 120rem;

  }

  .pricing-fh {
      color: #2B6682;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.05;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 1.6rem 0;
      padding-left: 7rem;

  }

  .pricing-sh {
      font-size: 2.3rem;
      margin-bottom: 2rem;
      color: #282828;
      font-weight: 900;
      line-height: 1.05;
      padding-left: 7rem;
  }


  .card-wrapper {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      margin: 5rem 0 4rem 0;
  }


  .border-white-wrapper {
      width: 380px;
      border: 2px solid #C7C7CD;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }


  .border-gray-wrapper {
      position: relative;
      background-color: #C7C7CD;
      width: 380px;
      border: 2px solid #C7C7CD;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;


  }

  .border-white-wrapper,
  .border-gray-wrapper,
  .content-1 {
      min-height: 295px;
      /* keeps base size but can grow */
      height: auto;
  }


  .ribbon {
      position: absolute;
      top: 35px;
      right: -45px;
      transform: rotate(45deg);
      background-color: #F6B01E;
      /* yellow */
      color: #282828;
      padding: 8px 40px;
      font-size: 12px;
      font-weight: bold;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
  }

  .title {
      font-size: 1.2rem;
      margin: 40px 0 2px 0;
      color: #FC624D;
      font-weight: bold;

  }

  .tie {
      margin: 20px 0;
  }

  .tie span {
      font-size: 30px;
      font-weight: bold;
      color: #282828;
  }

  .tie strong {
      font-size: 3rem;
      text-transform: uppercase;
      font-style: italic;
      color: #282828;
  }

  .note {
      font-size: 16px;
      color: #282828;
      line-height: 1.05;
  }

  .pricing-p {
      font-size: 16px;
      ;
      color: #282828;
      line-height: 1.05;
      text-align: center;

  }


  .content-1 {
      width: 230px;
      /* height: 200px; */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

  }

  .pricing-content-1 {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      margin-top: 3rem;
      padding-left: 7rem;
  }


  .pricard-btn {
      display: flex;
      margin: 1.9rem 0;
  }

  .pricing-btn {
      background-color: #F5F5F5;
      padding: 0.7rem 1.2rem;
      border-radius: 50%;
  }

  .pricing-btn i {
      color: #2B6482;
      font-size: 10px;
  }

  .pri-head {
      font-size: 24px;
      font-weight: 800;
      color: #282828;
      margin-bottom: 1.3rem;
      line-height: 1.05;
  }

  .pri-description {
      font-size: 18px;
      font-weight: 400;
      color: #282828;
      line-height: 1.9;
  }

  .form-container {
      margin: 4.5rem 0rem 7rem 7rem;
      display: flex;
      background-color: #255F7D;
      height: auto;
      width: 84%;
      border-radius: 10px;
      box-shadow: 0 0 0;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  .form-wrapper {
      color: #F5F5F5;
      border-radius: 10px;
      width: 70%;
      background-color: #26607E;
      padding: 2.5rem 4rem 2.5rem 4rem;
  }

  .form-head {
      font-size: 2rem;
      line-height: 1.05;
      margin-bottom: 2rem;
      font-weight: 800
  }

  .form-p {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 400;
  }

  form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
  }

  .form-row {
      display: flex;
      flex-direction: row;
      gap: 2rem;
  }

  .form-group {
      flex: 1;
      /** makes all groups in the same row equal width **/
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
  }

  .form-group label {
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: white;
      /* or your preferred label color */
  }

  .form-group input,
  .form-group select {
      padding: 0.8rem 0.7rem;
      border: 1px solid #ccc;
      border-radius: 12px;
      font-size: 1rem;
      outline: none;
      box-sizing: border-box;
      transition: border-color 0.2s, box-shadow 0.2s;
  }

  .form-group input:focus,
  .form-group select:focus {
      box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
  }

  .form-group input::placeholder {
      color: #255F7D;
  }

  .form-group select {
      color: #255F7D;
      /* changes the text color */
  }


  .sum-btn {
      display: flex;
      justify-content: center;
      /* center horizontally */

  }

  .submit-btn {
      background-color: #003366;
      /* Blue background */
      color: white;
      padding: 1rem 7rem;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      display: block;
      margin: 10px auto;
      width: auto;
  }

  .submit-btn:hover {
      filter: contrast(70%);
  }


  hr {
      border: 0.1px solid #E0E0E5;
  }

  footer {
      background-color: white;
  }

  .f-wrapper {
      padding: 1rem 8rem 6rem 8rem;
  }

   .footer-grid {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 3rem;
  } 
 


  .company-logo {
      width: 100%;
      max-width: 60%;
  }

  .footer-content{
    justify-content: space-between;
    width: 100%;
  }


    .link-wrapper {
     display: flex;
    justify-content: flex-start; 
      flex-wrap: wrap;          
     margin: 1.5rem 0;
     gap: 1.5rem;
   
  }

  .social-logo{
    max-width: 30px;
  }


  .social-p {
      font-size: 0.9rem;
      color: #555555;
       line-height: 1.5;
    white-space: normal;    /* ensures text wraps */
    max-width: 24ch;
      line-height: 1.5;
  }

  .footer-content-h {
      font-size: 1.2rem;
      color: #282828;
      line-height: 1.0;
      margin-bottom: 2.5rem;
      font-weight: 600;


  }

  .footer-cont-p {
      display: block;
      font-size: 14px;
      line-height: 1.0;
      margin-bottom: 2.5rem;
      color: #555555;
  }
    

  .footer-pp{
     display: block;
      font-size: 16px;
      line-height: 1.0;
      text-decoration: none;
      margin-bottom: 2rem;
      color: #555555;
  }
    .footer-cont-pp {
      display: block;
      font-size: 14px;
      line-height: 1.0;
      text-decoration: none;
      margin-bottom: 1rem;
      color: #555555;

  }  



  .footer-content-p {
      display: block;
      font-size: 14px;
      line-height: 1.0;
      text-decoration: none;
      margin-bottom: 1.5rem;
      color: #555555;

  }

  @media (max-width: 768px) {
      .section-product {
          padding: 1rem 0 0.1rem 0;
      }


      .product-content {
          padding: 0 1rem;
      }


      .first-heading {
          font-size: 0.8rem;
      }

      .second-heading {
          font-size: 2rem;
          margin-bottom: -5.5rem;
      }


      .product-grid {
          grid-template-columns: 1fr;
          justify-items: center;
            padding-left: 0 !important;
            padding-right: 0 !important;
            gap: 0.5rem;
      }

      .product-card {
          max-width: 400px;
          /* keep it from stretching too wide */
          width: 100%;
      }

      .productcard-img {
          display: block;
          margin: 0 auto;
          width: 90%;
          height: auto;
          justify-content: center;
          align-items: center;
      }

      .grid-heading {
          font-size: 18px;
      }

      .grid-p {
          font-size: 16px;
      }

      .grid-s {
          font-size: 14px;
      }

      .pcard-btn {
          padding: 0.4rem;
          border-radius: 50%;
      }

      .arrow-button {
          font-size: 16px;
      }



      .section-testimony {
          padding: 3rem 0;
      }

      .testimony-content {
          padding: 0 2rem;
      }

      .testimony-fheading {
          font-size: 0.8rem;
      }

      .testimony-sh {
          font-size: 1.6rem;

      }

      .testimony-grid {
          display: inline-block;
          margin: 0 auto;
      }

      .testimony-card {
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 450px;
          height: auto;

      }

      .testimony-card img {
          width: 100%;
          max-width: 50px;
          height: auto;
          margin-bottom: 0.5rem;

      }

      .testimony-p {
          font-size: 14px;
          line-height: 2;
          font-weight: 400;
      }



      .section-pricing {
          padding: 2.5rem 0;

      }

      .pricing-content {
          padding: 0 2rem;
      }

      .pricing-fh {
          font-size: 0.8rem;
          padding-left: 0;
      }

      .pricing-sh {
          font-size: 1.4rem;
          font-weight: 900;
          padding-left: 0;
      }

      .card-wrapper {
          display: flex;
          flex-direction: column;
          justify-items: center;
          width: 100%;
          max-width: 350px;
          align-items: stretch;
          gap: 2rem;
          margin: 3rem auto 1.8rem auto;
          padding-right: 0;
          align-items: center;
      }

      .border-white-wrapper,
      .border-gray-wrapper {
          /* width: 100%; */
          max-width: 400px;
          height: auto;
          min-height: 225px;
      }

      .title {
          font-size: 1rem;
      }

      .tie span {
          font-size: 1rem;
      }

      .tie strong {
          font-size: 1.6rem;
      }

      .note {
          font-size: 0.9rem;
      }

      .pricing-p {
          font-size: 0.8rem;
      }
      
      .pricing-content-1 {
         padding: 3rem 0 2rem 0;
         display: flex;
        flex-direction: column; 
        gap: 0;
         
      }

      .content-1 {
        width: 100%;
        margin: -3.2rem 0;
        padding: 0;
  }
   
  .pricard-btn{
    margin: 1.5rem 0;
    padding: 0;
  }
  .pricing-btn{
        padding: 0.6rem;
  }
  .pri-head{
    font-size: 1.1rem;
  }
    .pri-description{
        font-size: 0.9rem;
        margin: 0 0 1rem 0;
    }

    .form-container {
        flex-direction: column;
        padding: 0.5rem;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .form-wrapper {
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    .form-head {
        font-size: 1.4rem;
        margin: 15rem 0 1.5rem 0;
        white-space: nowrap;
        line-height: 1.05;
        font-weight: 800;
        color: white
    }
    .form-p{
        font-size: 0.9rem;
        line-height: 1.5;
        font-weight: 400;
    }
    .form-row {
        flex-direction: column;
        gap: 0.2rem;
    }
    .form-group {
       margin-bottom: 0.5rem;
    }

     .form-group label {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 0.2rem;
        color: white;
    }

    .form-group input,
  .form-group select {
      padding: 0.5rem 0.4rem;
      font-size: 0.9rem;
      border-radius: 8px;
      outline: none;
      box-sizing: border-box;
      transition: border-color 0.2s, box-shadow 0.2s;
  }
   .sum-btn{
        justify-content: center;
        margin: 1rem 0;
   }
    .submit-btn {
        padding: 1rem 4rem;
        font-size: 0.9rem;
        width: auto;
        margin: 0 auto;
    }

 
 hr {
  margin: 6rem 0;
  border: 0.1px solid #E0E0E5;
  width: calc(100% + 4rem); /* expand by left + right padding */
  margin-left: -2rem;       /* cancel left padding */
  margin-right: -2rem;      /* cancel right padding */
}

footer {
        background-color: white;
    }

    
 
  .f-wrapper {
      margin-top: -3rem;
      /* padding: 0rem 2rem 2rem 2rem; */
          padding: 0rem 0rem 1.5rem 2rem;
  }
 
  
 .footer-grid{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "three four five"
      "one two."; 
    grid-gap: 1rem; 
    row-gap: 3rem; 
  }

  .footer-grid > :nth-child(1) { grid-area: one; }
  .footer-grid > :nth-child(2) { grid-area: two; }
  .footer-grid > :nth-child(3) { grid-area: three; }
  .footer-grid > :nth-child(4) { grid-area: four; }
  .footer-grid > :nth-child(5) { grid-area: five; } 
  
  .footer-grid > div {
    margin: 0 !important;
  }

  .footer-content{
   width: 100%;
  }
  .company-logo{
    width: 100%;
    /* max-width: 90%; */
  }

  .link-wrapper {
     display: flex;
    justify-content: flex-start; 
      flex-wrap: wrap;          
    margin: 1rem 0;
    gap: 1rem;
   
  }

  .social-logo{
    max-width: 20px;
  }

  .social-p{
    font-size: 12px;
    width: 100%;
  }
  .footer-content-h{
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer-content-p{
    font-size: 12px;
    margin-bottom: 0.8rem;
  }
  .footer-pp{
    font-size: 12px;
    line-height: 1.06;
    margin-bottom: 1.5rem;
  }
 .footer-cont-pp {
      font-size: 12px;
      line-height: 1.06;
   
  }
 
 
  
}